<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>{{ .Title }} - The X Effect - xeffect.help</title>
  </head>

  <body>

    <h3>{{ .Title }}</h3>
    <p>ToDo</p>

  </body>

</html>
