<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>{{ .Title }} - The X Effect - xeffect.help</title>
  </head>

  <body>

    <h3>User</h3>
    <ul>
      <li>ID = {{ .User.ID }}</li>
      <li>Name = {{ .User.Name }}</li>
      <li>Permissions = {{ range .User.Permissions }} {{ . }} {{ end }}</li>
      <li>Pronoun = {{ .User.Pronoun }}</li>
      <li>Avatar = {{ .User.Avatar }}</li>
    </ul>

    <h3>{{ .Title }}</h3>
    <ul>
      <li>ToDo</li>
    </ul>

  </body>

</html>
