{{ template "header.html" . }}

  <div class="mui-row mui-row-spacer" >
    <div class="mui-col-md-4"></div>
    <div class="mui-col-md-4">
      <form class="mui-form" method="post" action="/card/new">
        <legend>Create your first &apos;X Effect&apos; card</legend>
        <div class="mui-textfield">
          <input type="text" name="Title" placeholder="Quit Smoking, Eat Healthy, Exercise." value="{{ .Form.Title }}" >
          <label>Title</label>
          {{ with .Errors.Title }}
          <span style="color: red;">{{ . }}</span>
          {{ end }}
        </div>
        <div class="mui-textfield">
          <textarea name="Why" placeholder="Smoking is killing me, I want to feel fitter.">{{ .Form.Why }}</textarea>
          <label>Why are you doing this?</label>
        </div>
        <button type="submit" class="mui-btn mui-btn--raised">Create Card and Go!</button>
      </form>
    </div>
    <div class="mui-col-md-4"></div>
  </div>

{{ template "footer.html" }}
