{{ template "header.html" . }}

  <div class="mui-row mui-row-spacer" >
    <div class="mui-col-md-2">2</div>
    <div class="mui-col-md-7">
      <h3>{{ .Card.Title }}</h3>
      <p>{{ .Card.Why }}</p>

      {{ range $i, $day := .Card.Days }}

        {{ if eq (rem $i 7) 0 }}
          <div class="mui-row">
        {{ end }}

        <div class="mui-col-md-1">({{ $i }}) {{ $day.Complete }} / {{ $day.Success }} / {{ $day.Excuse }}</div>

        {{ if eq (rem $i 7) 6 }}
        <div class="mui-col-md-5">5</div>
        </div><!-- /.mui-row -->
        {{ end }}

        {{ end }}
      </div>
    </div>
    <div class="mui-col-md-3">3</div>
  </div>

{{ template "footer.html" }}
