    </div>
    <!-- /#content -->

    <footer>
      <div class="mui-container mui--text-center">
        Made with ♥ by <a href="https://chilts.org">Andrew Chilton</a>.
        <a href="https://twitter.com/andychilton"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/chilts"><i class="fa fa-github" aria-hidden="true"></i></a>
        <br>
        Another <a href="https://appsattic.com">AppsAttic</a> production.
        <a href="https://twitter.com/AppsAttic"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/AppsAttic"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </footer>

    <script src="https://cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
    <script src="/s/js/app.js"></script>
  </body>
</html>
