<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ .Title }} - The X Effect - xeffect.help</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s/css/styles.css">
  </head>
  <body>

    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">xeffect.help</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                {{ with .User }}
                <li><a href="/settings">{{ .Name }}</a></li>
                {{ else }}
                <li>Not Logged In</li>
                {{ end }}
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>

    <!-- #content -->
    <div id="content">
      <div class="mui--appbar-height"></div>
