<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ .Title }} - The X Effect - xeffect.help</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s/css/styles.css">
  </head>
  <body>

    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">xeffect.help</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                {{ with .User }}
                <li><a href="/settings">{{ .Name }}</a></li>
                {{ else }}
                <li>Not Logged In</li>
                {{ end }}
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>

      <div class="mui-row mui-row-spacer mui--text-center">
        <div class="mui-col-md-3"></div>
        <div class="mui-col-md-6">
      {{ with .User }}
      <h1>The X Effect</h1>
      <h2>Daily Review : <span class="js-date"></span></h2>
      {{ else }}
      <h1>The X Effect</h1>
      <h2>Helping you Change your Habits</h2>
      {{ end }}
        </div>
        <div class="mui-col-md-3"></div>
      </div>

      <div class="mui-row mui-row-spacer" >
        <div class="mui-col-md-4"></div>
        <div class="mui-col-md-4">
          {{ with .Cards }}
          <p>You have some cards.</p>
          {{ else }}
          <form class="mui-form" method="post" action="/card/new">
            <legend>Create your first &apos;X Effect&apos; card</legend>
            <div class="mui-textfield">
              <input type="text" name="Title" placeholder="e.g. Quit Smoking, Eat Healthy, Exercise.">
              <label>Title (required)</label>
            </div>
            <div class="mui-textfield">
              <textarea name="Why" placeholder="Smoking is killing me, I want to feel fitter."></textarea>
              <label>Why are you doing this?</label>
            </div>
            <button type="submit" class="mui-btn mui-btn--raised">Create Card and Go!</button>
          </form>
          {{ end }}
        </div>
        <div class="mui-col-md-4"></div>
      </div>

    </div>

    <footer>
      <div class="mui-container mui--text-center">
        Made with ♥ by <a href="https://chilts.org">Andrew Chilton</a>.
        <a href="https://twitter.com/andychilton"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/chilts"><i class="fa fa-github" aria-hidden="true"></i></a>
        <br>
        Another <a href="https://appsattic.com">AppsAttic</a> production.
        <a href="https://twitter.com/AppsAttic"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/AppsAttic"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </footer>

    <script src="https://cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
    <script src="/s/js/app.js"></script>
  </body>
</html>
